       style    
           body {background-color: #AEBD93; font-family: Arial, sans-serif; margin: 20px}
            h1 {color:#585F3B ; text-align: center}
            p {color: #4C2E05; line-height: 1.5; font: size 16px;}
            h3 {color:#585F3B ; text-align: left}
            ul {color: #4C2E05; line-height: 1.5; font: size 16px;}
            img {margin: 10px}